# 01) import libraries

In [40]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

# 02) scrape table

In [41]:
response = requests.get("https://www.gazzetta.it/calcio/fantanews/statistiche/serie-a-2020-21/")
html_doc = response.content
soup = BeautifulSoup(html_doc, 'html.parser')

# 04) parse results

In [42]:
table = soup.find("table", {"class":"playerStats competizione-21"})

In [43]:
table_head = table.find("thead").find_all('th')
list_headers = []

for i,header in enumerate(table_head):
    header = header.text
    header = re.sub("\W",r"",header)
    header = header.strip()
    if header != "":
        list_headers.append(header)

In [44]:
table_body = table.find("tbody")
rows = table_body.find_all('tr')

list_players = []

for i,row in enumerate(rows):
    row = row.text
    row = re.sub("\s{2,}",r",",row)
    row = re.sub("\n",r",",row)
    row = row.strip()
    row = row.split(",")[1:-1] # remove first and last
    list_players.append(row)

In [45]:
df_players = pd.DataFrame(list_players, columns = list_headers)
df_players = df_players.sort_values(by = "Giocatore", ascending = True).reset_index(drop = True)
df_players.rename(columns = {"Sqd":"Squadra"}, inplace = True)
df_players['Squadra'] = df_players['Squadra'].str.capitalize()
df_players.index = range(1,len(df_players)+1)
df_players = df_players.iloc[:, [1,0,2,3,4,5,6,7,8,9,10,11,12,13,14,15]] #reorder columns
df_players

,Giocatore,Squadra,Ruolo,Q,PG,G,A,AM,ES,RT,RR,RS,RP,MV,MM,MP
1,Acampora G.,Spezia,C,4,9,-,-,2,-,-,-,-,-,5.55,5.44,-1
2,Acerbi F.,Lazio,D,13,32,-,1,7,1,-,-,-,-,6.04,5.93,-3.5
3,Agoume L.,Spezia,C,7,10,-,-,2,-,-,-,-,-,6.2,6.1,-1
4,Agudelo K.,Spezia,C,12,27,1,1,4,-,-,-,-,-,6.01,6.12,2.9
5,Akpa Akpro J.,Lazio,C,5,25,-,1,9,-,-,-,-,-,5.66,5.52,-3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,Zeegelaar M.,Udinese,D,7,24,1,-,6,-,-,-,-,-,5.62,5.68,1.4
551,Zielinski P.,Napoli,C,28,34,8,8,2,-,-,-,-,-,6.22,7.36,38.7
552,Zima L.,Genoa,P,1,-,-,-,-,-,-,-,-,-,-,-,-
553,Zirkzee J.,Parma,A,15,3,-,-,-,-,-,-,-,-,5.5,5.5,-
554,Zoet J.,Spezia,P,10,7,-,-,1,-,-,-,-,-,6.14,4.35,-12.5

# 05) export to csv

In [46]:
df_players.to_excel("ff_player_stats.xlsx", index = False)
print("File exported successfully!")

File exported successfully!